@font-face {
  font-family: MyriadProCondensed;
  src: url(../fonts/MyriadProCondensed/MyriadProCondensed.ttf);
}
@font-face {
  font-family: BerlinSansFBDemiBold;
  src: url(../fonts/BerlinSansFBDemiBold/BerlinSansFBDemiBold.ttf);
}
:root {
  --main-color: #1d1d1d;
  --second-color: #3a3a3a;
  --text-color: #bbbb;
  --text-white: #fff;

  --header-height: 144px;
  --header-padding: 93px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
html {
  font-size: 65%;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
img {
  max-width: 100%;
}
body {
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: MyriadProCondensed, sans-serif;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: var(--header-height);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--header-padding);
  transition: height 0.3s ease;
}
header.shrink {
  height: 6rem;
  background-color: var(--second-color);
}
.main-menu-wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.main-menu {
  display: flex;
  pointer-events: visible;
}
.main-menu > li > a {
  text-transform: capitalize;
  font-size: 1.8rem;
  color: var(--text-color);
}
.main-menu > li > a.active {
  color: var(--text-white);
}
.main-menu > li ~ li {
  margin-left: 84px;
}
.main-menu > li > a:hover,
.user-menu > li > a:hover {
  transition: all 0.3s ease;
  color: var(--text-white);
}
.user-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-menu > li > a > i {
  font-size: 1.8rem;
}
.user-menu > li ~ li {
  margin-left: 2rem;
}
.banner {
  position: relative;
  height: 100vh;
  padding-top: var(--header-height);
}
.slide-item {
  display: flex;

  height: 0;
  overflow: hidden;
}
.slide-item.active {
  height: 100%;
}
.slide-img {
  width: 58%;
  padding-right: 8rem;
  padding-top: 9rem;
  z-index: 1;
}
.slide-img img {
  width: 100%;
}
.slide-heading {
  width: 42%;
  padding-left: 6rem;
}
