@font-face {
  font-family: MyriadProCondensed;
  src: url(../fonts/MyriadProCondensed/MyriadProCondensed.ttf);
}
@font-face {
  font-family: BerlinSansFBDemiBold;
  src: url(../fonts/BerlinSansFBDemiBold/BerlinSansFBDemiBold.ttf);
}
